<ons-page id="pokemon">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center" id="pokemonTitle">Pokemon Title</div>
  </ons-toolbar>

  <ons-card>
    <div id="pokemonImage"></div>
    <div class="title" id="pokemonName">Pokemon Name</div>
    <div class="content">
      <ons-list>
        <ons-list-header id="pokemonTypes">Types</ons-list-header>
        <ons-list-header id="pokemonStats">Stats</ons-list-header>
        <ons-list-header id="pokemonMoves">Moves</ons-list-header>
      </ons-list>
    </div>
  </ons-card>
  
  
</ons-page>


